/* https://fonts.googleapis.com/css?family=Poppins|Roboto:100,300,300i,400,700|Work+Sans:500,700 generated on 2022-04-07T22:53:07+00:00 */
@font-face {font-family: 'Poppins'; font-style: normal; font-weight: 400; src: url(../fonts/font-bea2437c.woff2) format('woff2'), url(../fonts/font-b26bc4c3.woff) format('woff'); }
@font-face {font-family: 'Roboto'; font-style: italic; font-weight: 300; src: url(../fonts/font-086ee534.woff2) format('woff2'), url(../fonts/font-e337e9af.woff) format('woff'); }
@font-face {font-family: 'Roboto'; font-style: normal; font-weight: 100; src: url(../fonts/font-80340469.woff2) format('woff2'), url(../fonts/font-b18c5277.woff) format('woff'); }
@font-face {font-family: 'Roboto'; font-style: normal; font-weight: 300; src: url(../fonts/font-56290998.woff2) format('woff2'), url(../fonts/font-b17e9872.woff) format('woff'); }
@font-face {font-family: 'Roboto'; font-style: normal; font-weight: 400; src: url(../fonts/font-832b6ee1.woff2) format('woff2'), url(../fonts/font-21d8b51e.woff) format('woff'); }
@font-face {font-family: 'Roboto'; font-style: normal; font-weight: 700; src: url(../fonts/font-ee57e61e.woff2) format('woff2'), url(../fonts/font-72341145.woff) format('woff'); }
@font-face {font-family: 'Work Sans'; font-style: normal; font-weight: 500; src: url(../fonts/font-5afe640f.woff2) format('woff2'), url(../fonts/font-b4b26ee6.woff) format('woff'); }
@font-face {font-family: 'Work Sans'; font-style: normal; font-weight: 700; src: url(../fonts/font-325ac6eb.woff2) format('woff2'), url(../fonts/font-cda37234.woff) format('woff'); }
